<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Geiger Counter</title>
	</head>
	<body>
          <ul>
            <li>Model: {{.Model}}</li>
            <li>Version: {{.Version}}</li>
            <li>Serial: {{.Serial}}</li>
            <li>Volts: {{.Volts}}</li>
            <li>CPM: {{.CPM}}</li>
          </ul>
	</body>
</html>
