{{ template "head" . }}

{{ template "prom_right_table_head" }}
<tr>
  <th>Prometheus</th>
  <th>{{ template "prom_query_drilldown" (args "sum(up{job='gqgmc'})") }} / {{ template "prom_query_drilldown" (args "count(up{job='gqgmc'})") }}</th>
</tr>
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>GQGMC</h1>

<table class="table table-condensed table-striped table-bordered" style="width: 0%">
<tr>
  <th>GQGMC</th>
  <th>Up</th>
</tr>
{{ range query "up{job='gqgmc'}" | sortByLabel "instance" }}
<tr>
  <td><a href="gqgmc-overview.html?instance={{ .Labels.instance }}">{{ .Labels.instance }}</a></td>
  <td {{ if eq (. | value) 1.0 }}>Yes{{ else }} class="alert-danger">No{{ end }}</td>
</tr>
{{ else }}
<tr><td colspan=4>No devices found.</td></tr>
{{ end }}

{{ template "prom_content_tail" . }}

{{ template "tail" }}
