{{ template "head" . }}

{{ template "prom_right_table_head" }}
  <tr>
    <th colspan="2">Counts</th>
  </tr>
  <tr>
    <td>CPS</td>
    <td>{{ template "prom_query_drilldown" (args (printf "gqgmc_geiger_cps_sum{job='gqgmc',instance='%s'}/gqgmc_geiger_cps_count{job='gqgmc',instance='%s'}" .Params.instance .Params.instance) "c/s" "humanizeNoSmallPrefix") }}</td>
  </tr>
  <tr>
    <td>CPM</td>
    <td>{{ template "prom_query_drilldown" (args (printf "gqgmc_geiger_cpm_sum{job='gqgmc',instance='%s'}/gqgmc_geiger_cpm_count{job='gqgmc',instance='%s'}" .Params.instance .Params.instance) "c/m" "humanizeNoSmallPrefix") }}</td>
  </tr>

  <tr>
    <th colspan="2">Power</th>
  </tr>
  <tr>
    <td>Volts</td>
    <td>{{ template "prom_query_drilldown" (args (printf "gqgmc_power_volts_sum{job='gqgmc',instance='%s'}/gqgmc_power_volts_count{job='gqgmc',instance='%s'}/10" .Params.instance .Params.instance) "v" "humanizeNoSmallPrefix") }}</td>
  </tr>

  <tr>
    <th colspan="2">Errors</th>
  </tr>
  <tr>
    <td>Errors</td>
    <td>{{ template "prom_query_drilldown" (args (printf "irate(gqgmc_sys_errors{job='gqgmc',instance='%s'}[5m])" .Params.instance) "err/cycle" "humanizeNoSmallPrefix") }}</td>
  </tr>

{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
  <h1>GQGMC Overview - {{ .Params.instance }}</h1>

  <h3>CPM</h3>
  <div id="cpmGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#cpmGraph"),
    expr: "gqgmc_geiger_cpm_sum{job='gqgmc',instance='{{ .Params.instance }}'}/gqgmc_geiger_cpm_count{job='gqgmc',instance='{{ .Params.instance }}'}",
    name: 'CPM Counts',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Clicks",
    yUnits: "/m",
  })
  </script>

  <h3>Power</h3>
  <div id="powerGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#powerGraph"),
    expr: "gqgmc_power_volts_sum{job='gqgmc',instance='{{ .Params.instance }}'}/gqgmc_power_volts_count{job='gqgmc',instance='{{ .Params.instance }}'}/10",
    name: 'Power',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Volts",
  })
  </script>

  <h3>Errors per cycle</h3>
  <div id="errorGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#errorGraph"),
    expr: "irate(gqgmc_sys_errors{job='gqgmc',instance='{{ .Params.instance }}'}[5m])",
    name: 'Errors',
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: "Errors",
    yUnits: "/cycle",
  })
  </script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
